<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <% include ../partials/external-head %>
</head>

<body class="index">
  <% include ../partials/external-navigation %>


  <div class="hero hero--home js__container-outer" style="min-height: 400px;">
    <div class="js__container-inner" style="padding: 100px 0px;">
      <div class="row">
        <div class="columns">
          <h1 class="trigger-navigation">Oskar FAQ</h1>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <p class="subheader">Everything you need to know about your happiness slackbot</p>
        </div>
      </div>

      <a class="scroll-button show-for-large-up" href="#work"></a>
    </div>
  </div>

  <section class="faq">
    <div class="row">
      <div class="columns medium-12 large-12 text-left">
        <ul>
          <li class="question">
            <a name="feature0"></a>
            <h3>Who is Oskar?</h3>
            <p>Oskar is a happy squirrel. He loves cracking nuts and climbing trees in his free time, but at work he's a focused happiness tracker. His job is to check in with your teammates on a daily basis so you can know how they're doing.</p>
          </li>
          <li class="question">
            <a name="feature1"></a>
            <h3>Why do we need Oskar?</h3>
            <p>Since people tend to forget things quickly (especially when we're stressed), Oskar checks in with your teammates every day so that you don't have to. He also takes notes if someone isn't feeling alright and tries to find out what's causing these feelings. That helps you figure out when someone on your team needs some support, and as a result, foster team communication to prevent people from slipping into isolation.</p>
          </li>
          <li class="question">
            <h3>How does Oskar check in with a team?</h3>
            <p>Oskar tries to be as unobtrusive as he possibly can. He sends everyone a message once a day to ask how they're doing on a scale between "Really bad" and "Awesome". Does he understand human language? No, but did you know that squirrels can count to ten? Since Oskar understands numbers, you don't even have to write a full sentence. Just type a number between 1 and 5 and he'll get on with his job.</p>
          </li>
          <li class="question">
            <h3>What does Oskar do when someone is feeling "Really bad"?</h3>
            <p>You might not have guessed it, but squirrels are quite empathetic. If you tell Oskar that something is not OK with you, he'll ask you why. Feel free to tell him what's on your mind. He's a friendly squirrel and won't judge you in any way. He'll make sure that your teammates are in the loop so that they can jump in and help you fix whatever you're struggling with.</p>
          </li>
          <li class="question">
            <a name="feature2"></a>
            <h3>Where can I see how other people are doing?</h3>
            <p>I'm glad you asked, because Oskar prepared a really helpful dashboard where you can follow all of your teammates' current status. It also shows when each person checked in, and shares additional feedback in case someone is having a bad day. But that's not all. When you select a person, you can see their status for the last 10 days, allowing you to find patterns for someone's most recent ups or downs.</p>
          </li>
          <li class="question">
            <h3>I have an idea for Oskar. How can I get in touch with him?</h3>
            <p>If you have an idea for improving Oskar, he'll be more than happy to hear from you. Please drop him a line at <a href="mailto:oskar@hanno.co">oskar@hanno.co</a> and he'll get back to you as quickly as his squirrel business allows.</p>
          </li>
          <li class="question">
            <h3>How can I set up Oskar for my team?</h3>
            <p>Currently, our squirrel is in closed alpha, but we're hoping to release him to the public soon so that you can enjoy the friendly company of our squirrel friend as well. Why not sign up for the <a href="/signup">Oskar newsletter</a> and we'll tell you as soon he's available?</p>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <footer class="global-cta" id="more">
    <div class="row row--collapse">
      <div class="columns large-7 large-offset-1">
        <h1>Try out Oskar now</h1>
        <h3 class="subheader show-for-large-up">Start building better performing team</h3>
        <div class="hide-for-large-up">
          <a class="button outline primary" href="/contact">Get started</a>
        </div>
      </div>
      <div class="columns large-3 left text-left">
        <div class="show-for-large-up">
          <a class="button outline primary" href="/contact">Get started</a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>