<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <% include ../partials/external-head %>
</head>

<body class="index">
  <div id="st-container" class="st-container st-hideatstart">
    <div class="hide-for-small">1

      <nav id="nav-mini" class="site-menu site-menu--desktop">
        <a class="left logo" href="/">
          <img src="/public/images/oskar-logo.png" width="200" alt="Hanno logo" scale="0">
        </a>
        <ul class="right inline-list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/faq">FAQ</a>
          </li>
          <li>
            <a href="/signup">Signup</a>
          </li>
          <li>
            <a href="/login">Login</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="show-for-small">
      <nav class="site-menu">
        <div class="row">
          <div class="columns">
            <a class="left logo" href="/">
              <img src="https://hanno.co/media/logos/hanno-title-235dde15.svg" width="132" alt="Hanno logo">
            </a>
            <a href="#" class="site-menu__trigger-menu js-trigger-menu">Menu</a>
          </div>
        </div>
      </nav>
      <nav class="site-menu--mobile">
        <div class="row">
          <div class="columns">
            <ul class="site-menu--mobile__options">
              <li>
                <a href="/work">
                  <h3>Work with Us</h3>
                  <p>See how we can help you</p>
                </a>
              </li>
              <li>
                <a href="/about">
                  <h3>About Us</h3>
                  <p>Meet your shipmates</p>
                </a>
              </li>
              <li>
                <a href="/contact">
                  <h3>Contact</h3>
                  <p>Let's talk about working together</p>
                </a>
              </li>
              <li>
                <a href="https://logbook.hanno.co">
                  <h3>Blog</h3>
                  <p>Our <em>Logbook</em>: join us in building a better web</p>
                </a>
              </li>
              <li>
                <a href="http://playbook.hanno.co">
                  <h3>Playbook</h3>
                  <p>Everything you need to know about how we work</p>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>


  <div class="hero hero--home js__container-outer" style="min-height: 400px;">
    <div class="js__container-inner" style="padding: 100px 0px;">
      <div class="row">
        <div class="columns">
          <h1 class="trigger-navigation">Your team's new Happiness Coach on Slack</h1>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <p><img src="/public/images/oskar-slack.png" width="850"></p>

          <p class="subheader">Prevent isolation and build a happier team</p>
        </div>
      </div>

      <a class="scroll-button show-for-large-up" href="#work"></a>
    </div>
  </div>

  <section class="home-work-intro oskar-ship" id="work">
    <div class="row">
      <div class="columns medium-4 large-4 text-left">
        <img class="feature__icon" src="https://hanno.co/assets/images/packages-sprint-invent-4d266e0d.svg" width="150">
        <h3>Keep track of your team's happiness</h3>

        <p>
          <a href="" class="button outline primary medium">Learn more</a>
        </p>
      </div>
      <div class="columns medium-4 large-4 text-left">
        <img class="feature__icon" src="https://hanno.co/assets/images/packages-sprint-improve-7513dd09.svg" width="150">
        <h3>Track the impact of projects and internal changes</h3>

        <p>
          <a href="" class="button outline primary medium">Learn more</a>
        </p>
      </div>
      <div class="columns medium-4 large-4 text-left">
        <img class="feature__icon" src="https://hanno.co/assets/images/packages-crew-team-ba3ea194.svg" width="150">
        <h3>Eliminate remote isolation</h3>

        <p>
          <a href="" class="button outline primary medium">Learn more</a>
        </p>
      </div>
    </div>
  </section>

  <section class="home-work-intro oskar-ship" id="work">
    <div class="row">
      <div class="columns medium-11 medium-centered large-10">
        <h1>Track team happiness</h1>
        <p class="subheader">Oskar asks you every day how you feel on Slack. Having this transparency in your team helps you to release stress and overcome feeling isolated.</p>

        <p class="subheader">Talking about how you feel already makes you feel better: this process release stress on you and you can focus better. Oskar also connects you with your peers so you can cheer each other up and prevent isolation.</p>

        <p class="subheader">Use Oskar Dashboard to overview HappinessProgress®. Your team's HappinessProgress® saved and you can track how it evolves over time. Understanding how your teammates feels allows you to build better performing team.</p>
      </div>
    </div>
  </section>

  <footer class="global-cta" id="more">
    <div class="row row--collapse">
      <div class="columns large-7 large-offset-1">
        <h1>Try out Oskar now</h1>
        <h3 class="subheader show-for-large-up">Start building better performing team</h3>
        <div class="hide-for-large-up">
          <a class="button outline primary" href="/contact">Get started</a>
        </div>
      </div>
      <div class="columns large-3 left text-left">
        <div class="show-for-large-up">
          <a class="button outline primary" href="/contact">Get started</a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>