<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <% include ../partials/external-head %>
</head>

<body class="index">
  <div id="st-container" class="st-container st-hideatstart">
    <div class="hide-for-small">

      <nav id="nav-mini" class="site-menu site-menu--desktop">
        <a class="left logo" href="/">
          <img src="https://hanno.co/media/logos/hanno-title-white-76fe35da.svg" width="110" alt="Hanno logo">
        </a>
        <ul class="right inline-list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/dashboard">Dashboard</a>
          </li>
          <li>
            <a href="/faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="show-for-small">
      <nav class="site-menu">
        <div class="row">
          <div class="columns">
            <a class="left logo" href="/">
              <img src="https://hanno.co/media/logos/hanno-title-235dde15.svg" width="132" alt="Hanno logo">
            </a>
            <a href="#" class="site-menu__trigger-menu js-trigger-menu">Menu</a>
          </div>
        </div>
      </nav>
      <nav class="site-menu--mobile">
        <div class="row">
          <div class="columns">
            <ul class="site-menu--mobile__options">
              <li>
                <a href="/work">
                  <h3>Work with Us</h3>
                  <p>See how we can help you</p>
                </a>
              </li>
              <li>
                <a href="/about">
                  <h3>About Us</h3>
                  <p>Meet your shipmates</p>
                </a>
              </li>
              <li>
                <a href="/contact">
                  <h3>Contact</h3>
                  <p>Let's talk about working together</p>
                </a>
              </li>
              <li>
                <a href="https://logbook.hanno.co">
                  <h3>Blog</h3>
                  <p>Our <em>Logbook</em>: join us in building a better web</p>
                </a>
              </li>
              <li>
                <a href="http://playbook.hanno.co">
                  <h3>Playbook</h3>
                  <p>Everything you need to know about how we work</p>
                </a>
              </li>
              <li class="site-menu--mobile__options__social-link">
                <a href="http://twitter.com/wearehanno">
                  <i class="fa fa-lg fa-twitter"></i>
                </a>
                <a href="http://instagram.com/wearehanno">
                  <i class="fa fa-lg fa-instagram"></i>
                </a>
                <a href="http://dribbble.com/wearehanno">
                  <i class="fa fa-lg fa-dribbble"></i>
                </a>
                <a href="http://behance.net/wearehanno">
                  <i class="fa fa-lg fa-behance"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="hero hero--home js__container-outer" style="min-height: 300px;">
    <div class="js__container-inner" style="padding: 100px 0px;">
      <div class="row">
        <div class="columns">
          <h1 class="trigger-navigation">Ahoy there!</h1>
        </div>
      </div>
      <div class="row">
        <div class="columns medium-8 medium-centered large-6">
          <p class="subheader">We're an on-demand design team that will help you build and grow your business.</p>
        </div>
      </div>
      <a class="scroll-button show-for-large-up" href="#work"></a>
    </div>
  </div>
  <section class="home-work-intro hanno-ship" id="work">
    <div class="row text-center">
      <div class="columns medium-11 medium-centered large-10">
        <h1>We help startups</h1>
        <p class="subheader">To build phenomenal web products and design teams. Here are a couple of examples of recent projects we've been working on...</p>
      </div>
    </div>
  </section>
  <section class="home-work">
    <div class="work-example">
      <div class="row">
        <div class="columns medium-11 medium-centered">
          <h1>
            <img src="https://hanno.co/media/clients/uber-78bcad2b.svg" alt="Uber" width="200">
          </h1>

          <p>We helped their team in London build a focused website to encourage new drivers to join them in their global taxi revolution. This meant getting to know real drivers on the streets of London and gaining a real understanding of their needs, before putting together content that would be relevant to them and assist them in becoming an Uber driver.</p>
          <div class="text-center">
            <a href="/work/uber" title="What we did for Uber" class="button outline primary medium">Read the case study</a>
          </div>
        </div>
      </div>
      <picture class="work-example__mockup show-for-medium-up">
        <source media="(max-width: 64em)" srcset="https://hanno.co/media/cs-previews/uber-medium-19c6977a.png 500w">
          <img src="https://hanno.co/media/cs-previews/uber-1b637b37.png">
        </picture>
      </div>
      <div class="work-example">
        <div class="row">
          <div class="columns medium-11 medium-centered">
            <h1>
              <img src="https://hanno.co/media/clients/mirror-d044513a.svg" alt="Mirror" width="200">
            </h1>

            <p>When the team behind Mirror first got in touch with us, it was clear where they needed help the most. Despite building a fantastic business and engineering team, they simply hadn't had the time to build a strong team of designers.</p>
            <p>They needed to be able to draft in an experienced team to work with them as they pushed to get their platform to launch, and keep their investors happy. In our first set of sprints together, we spent 6 weeks helping them to build the UI, UX and branding for their platform, and take it to launch.</p>
            <a href="/work/mirror" title="What we did for Mirror" class="button outline primary medium">Read the case study</a>
          </div>
        </div>
        <picture class="work-example__mockup show-for-medium-up">
          <source media="(max-width: 64em)" srcset="https://hanno.co/media/cs-previews/mirror-medium-fd61a83b.png 500w">
            <img src="https://hanno.co/media/cs-previews/mirror-dd1e93d5.png">
          </picture>
        </div>
        <div class="work-example">
          <div class="row">
            <div class="columns medium-11 medium-centered">
              <h1>
                <img src="https://hanno.co/media/clients/zirx-1506ced8.svg" alt="ZIRX" width="200">
              </h1>

              <p>The team brought us in to help boost their design capacity and come up with a new brand, marketing concepts and creative direction, and ship a totally revamped website. We did all of this in a few weeks, at the end of which, they closed <a href="http://techcrunch.com/2014/09/05/zirx/">a major $6.4m funding round</a>.</p>
              <div class="text-center">
                <a href="http://zirx.com" class="button outline primary medium">Visit the website</a>
              </div>
            </div>
          </div>
          <picture class="work-example__mockup show-for-medium-up">
            <source media="(max-width: 64em)" srcset="https://hanno.co/media/cs-previews/zirx-medium-ece0d1de.png 500w">
              <img src="https://hanno.co/media/cs-previews/zirx-ead18166.png">
            </picture>
          </div>
        </section>
        <section class="home-blog" id="logbook">
          <div class="row text-center">
            <div class="columns medium-11 medium-centered large-10x">
              <h1>We share what we learn</h1>
              <p class="subheader">We're sharing everything we're learning about helping startups to build great products and design teams, in our <a href="https://logbook.hanno.co">Blog</a> and our <a href="http://playbook.hanno.co">Playbook</a>.</p>
            </div>
          </div>
          <div class="post-listing text-left feed">

            <div class="row row--collapse">
              <div class="columns">

                <div class="js__feed">            <article class="post-listing__item hentry">              <a href="https://logbook.hanno.co/offline-first-matters-developers-know/">                <div class="row">                 <div class="columns">                    <hr class="brand-divider show-for-small">                   <h2 class="entry-title post-listing__item__title">Why offline-first matters, and what developers should know about it</h2>                   <hr class="brand-divider show-for-medium-up">                   <p class="entry-summary">Last Thursday I had the pleasure to talk at the annual JavaScript conference jsDay in Verona. Here’s a quick summary of my talk…</p>                   <p><span class="vcard author">— by <strong class="fn">Marcel <img class="thumbnail post-listing__item__thumbnail hide-for-small" src="&lt;https://2.gravatar.com/avatar/87159a88710a4fc8d5b81de3d02908c7?s=96&amp;d=mm&amp;r=g"></strong></span></p>                  </div>               </div>              </a>            </article>                      <article class="post-listing__item hentry">              <a href="https://logbook.hanno.co/ppp-plans-progress-problems/">                <div class="row">                 <div class="columns">                    <hr class="brand-divider show-for-small">                   <h2 class="entry-title post-listing__item__title">PPPs: a simple system to boost productivity and banish project chaos</h2>                   <hr class="brand-divider show-for-medium-up">                   <p class="entry-summary">A simple yet hugely effective technique that will help you manage your personal tasks better, and run better projects as a team.</p>                   <p><span class="vcard author">— by <strong class="fn">Jon <img class="thumbnail post-listing__item__thumbnail hide-for-small" src="&lt;https://2.gravatar.com/avatar/2783434cd2fcf7717cfb050939cc4d6c?s=96&amp;d=mm&amp;r=g"></strong></span></p>                  </div>               </div>              </a>            </article>                      <article class="post-listing__item hentry">              <a href="https://logbook.hanno.co/7-best-practises-for-better-user-interviews/">                <div class="row">                 <div class="columns">                    <hr class="brand-divider show-for-small">                   <h2 class="entry-title post-listing__item__title">7 best practices for better user interviews</h2>                   <hr class="brand-divider show-for-medium-up">                   <p class="entry-summary">If you are interviewing users these 7 tips will help you to get unbiased feedback.</p>                   <p><span class="vcard author">— by <strong class="fn">Zsolt <img class="thumbnail post-listing__item__thumbnail hide-for-small" src="&lt;https://1.gravatar.com/avatar/759609af1b946e944aaee04ae6cc02ce?s=96&amp;d=mm&amp;r=g"></strong></span></p>                  </div>               </div>              </a>            </article>          </div>
                <script type="text/html" id="entryTmpl">

                  <article class="post-listing__item hentry">

                    <a href="<!=link!>">

                      <div class="row">
                        <div class="columns">

                          <hr class="brand-divider show-for-small">
                          <h2 class="entry-title post-listing__item__title"><!=title!></h2>
                          <hr class="brand-divider show-for-medium-up">
                          <p class="entry-summary"><!=content!></p>
                          <p><span class="vcard author">&mdash; by <strong class="fn"><!=author!> <img class="thumbnail post-listing__item__thumbnail hide-for-small" src="<!=authorImage!>"></strong></span></p>

                        </div>
                      </div>

                    </a>

                  </article>

                </script>
              </div>
            </div>
          </div>
        </section>
        <footer class="global-cta" id="more">
          <div class="row row--collapse">
            <div class="columns large-7 large-offset-1">
              <h1>Ready to work with us?</h1>
              <h3 class="subheader show-for-large-up">Let's set up a call to chat about what we can build together</h3>
              <div class="hide-for-large-up">
                <a class="button outline primary" href="/contact">Get in touch</a>
              </div>
            </div>
            <div class="columns large-3 left text-left">
              <div class="show-for-large-up">
                <a class="button outline primary" href="/contact">Get in touch</a>
              </div>
            </div>
          </div>
        </footer>

</html>