<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <% include ../partials/external-head %>
</head>

<body class="index">
  <% include ../partials/external-navigation %>


  <div class="hero js__container-outer">
    <div class="js__container-inner">
      <div class="row">
        <div class="columns">
          <h1 class="trigger-navigation">Meet your team's new happiness tracker on Slack</h1>
          <p class="subheader">Prevent isolation and build a happier team</p>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <p><img src="/public/images/oskar-slack.png" width="850"></p>
        </div>
      </div>
      <a class="scroll-button show-for-large-up" href="#work"></a>
    </div>
  </div>

  <section class="home-work-intro oskar-ship" id="work">
    <div class="row">
      <div class="oskar__features columns medium-4 large-4 text-center">
        <img class="feature__icon" src="https://hanno.co/assets/images/packages-sprint-invent-4d266e0d.svg" width="150">
        <h3>Oskar checks in with you every day</h3>
        <p>A happy squirrel face greets you every morning to see how you're doing.</p>
      </div>
      <div class="oskar__features columns medium-4 large-4 text-center">
        <img class="feature__icon" src="https://hanno.co/assets/images/packages-sprint-improve-7513dd09.svg" width="150">
        <h3>He shares your status with the team</h3>
        <p>Oskar is a real chatterbox. If you're not feeling fine, he'll let everybody know.</p>
      </div>
      <div class="oskar__features columns medium-4 large-4 text-center">
        <img class="feature__icon" src="https://hanno.co/assets/images/packages-crew-team-ba3ea194.svg" width="150">
        <h3>He helps eliminate remote isolation</h3>
        <p>His social superpowers help boost your team's spirit, and reduce the risk of isolation.</p>
      </div>
    </div>
  </section>

  <section class="home-work-intro oskar-ship" id="work">
    <div class="row">
      <div class="columns medium-8  medium-centered large-centered large-10">
        <h1>How Oskar tracks happiness in your team</h1>
        <p class="product_description">Oskar has only one single task, but he tackles it dutfilly. Once per day he'll ask your team mates on Slack how they're doing.</p>
        <p>He is easy to satisfy but can be quite persistent if you don't reply. That's because he takes his job seriously (like all of his non-squirrel team mates) and wants to make sure that everyone on the team is OK.
        <br>
      </div>

      <div class="columns medium-12 large-12">


        <figure class="web-screenshot">
          <picture>
            <source media="(max-width: 36em)" srcset="/public/images/oskar-dashboard.png 580w" />
            <source media="(max-width: 48em)" srcset="/public/images/oskar-dashboard.png 768w" />
            <img src="/public/images/oskar-dashboard.png">
          </picture>
          <figcaption class="text-center">
            Oskar Dashboard
          </figcaption>
        </figure>

      </div>

      <div class="columns medium-10  medium-centered large-10">
        <p>He shares all of the feedback with the team. Whenever one of your team mates feels a bit under the water, somebody can jump in and give some support.</p>
        <p class="blog-link">We also wrote a blog post about the creation of Oskar and how the idea came about.
          <a href="https://logbook.hanno.co/here-is-the-slackbot-we-built-to-eliminate-remote-isolation/">Check it out in the Hanno Logbook</a>
        </p>
        <p>That's all that Oskar does. Outside of his job he lives a happy squirrel life.</p>

        <p class="text-center">
          <img src="/public/images/squirrel-life.gif" />
        </p>
        <!-- <p class="product_description">Talking about how you feel already makes you feel better: this process release stress on you and you can focus better. Oskar also connects you with your peers so you can cheer each other up and prevent isolation.</p>

        <p class="product_description">Use Oskar Dashboard to overview HappinessProgress® which is saved and you can track how it evolves over time. Understanding how your teammates feels allows you to build better performing team.</p> -->
      </div>
    </div>
  </section>

  <footer class="global-cta" id="more">
    <div class="row row--collapse">
      <div class="columns large-7 large-offset-1">
        <h1>Start building a happier team</h1>
        <h3 class="subheader show-for-large-up">Oskar is now available on GitHub. </h3>
        <div class="hide-for-large-up">
          <a class="button outline primary" href="https://github.com/wearehanno/oskar">Get started</a>
        </div>
      </div>
      <div class="columns large-3 left text-left">
        <div class="show-for-large-up">
          <a class="button outline primary" href="https://github.com/wearehanno/oskar">Get started</a>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
