<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <% include ../partials/external-head %>
</head>

<body class="index">
  <% include ../partials/external-navigation %>


  <div class="hero hero--home js__container-outer">
    <div class="js__container-inner">
      <div class="row">
        <div class="columns">
          <h1 class="trigger-navigation">Get notified</h1>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <p class="subheader">Oskar is currently under thorough inspection! Signup today and we will send you an invite as soon as he's ready to join your team.</p>
        </div>
      </div>

      <a class="scroll-button show-for-large-up" href="#work"></a>
    </div>
  </div>

  <section class="faq">
    <div class="row">
      <div class="columns medium-12 large-12 text-left">

          <div class="row">
            <div class="large-12 columns">
              <div class="row collapse">
                <p>Oskar feels so flattered that you're here!</p>
                <p>Our squirrel has set up a special email list for invitations (Yes, he's really eager to start working for you!). Fill out the form, and you'll get notified once Oskar is available for your team.</p>

                <form action="http://hanno.createsend.com/t/j/s/xjkwr/" method="post" id="subForm">
                    <p>
                      <input id="fieldEmail" name="cm-xjkwr-xjkwr" type="email" placeholder="Type your email address here..." required />
                    </p>
                    <p>
                      <button type="submit">I want to get notified</button>
                    </p>
                </form>

              </div>
            </div>
          </div>

      </div>
    </div>
  </section>

</body>
</html>