<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

  <head>
    <% include ../partials/internal-head %>
  </head>

  <body class="home blog logged-in admin-bar customize-support">

    <% include ../partials/internal-header %>

    <div class="main-content">
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

  </body>
</html>