<!DOCTYPE html>
<html lang="en" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">

<head>
  <% include ../partials/external-head %>
</head>

<body class="index">
  <% include ../partials/external-navigation %>


  <div class="hero hero--home js__container-outer">
    <div class="js__container-inner">
      <div class="row">
        <div class="columns">
          <h1 class="trigger-navigation">Get notified</h1>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <p class="subheader">Oskar is currently under thorough inspection! Signup today and we will send you an invite as soon as he's ready to join your team.</p>
        </div>
      </div>

      <a class="scroll-button show-for-large-up" href="#work"></a>
    </div>
  </div>

  <section class="faq">
    <div class="row">
      <div class="columns medium-12 large-12 text-left">

        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <p><b>You're amazing!</b></p>
              <p>Thanks for signup up. In this moment we're working hard on making Oskar available for your team. You'll hear back from us soon!</p>

              <br>
              <h5>Please help us spread the word</h5>

              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://oskar.hanno.co" data-text="Meet Oskar, a #slackbot that helps your team eliminate remote isolation. #slack #remote" data-via="wearehanno" data-size="large">Tweet</a>
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

</body>
</html>