#test {
  margin-top: 50px; }

h1.trigger-navigation {
  font-size: 3rem; }

.logo h3 {
  color: #fff;
  line-height: 1; }

.hero h3 {
  color: #fff;
  font-size: 1.2rem; }

.feature__icon {
  margin-bottom: 15px; }

.faq .question {
  margin-bottom: 3rem; }
  .faq .question p {
    margin-top: 0; }

.button.outline {
  margin-top: 0; }

.oskar-ship {
  position: relative;
  background-color: #f5f7f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6ebed), to(#f5f7f8));
  background: -webkit-linear-gradient(top, #e6ebed 0%, #f5f7f8 100%);
  background: linear-gradient(to bottom, #e6ebed 0%, #f5f7f8 100%);
  border-bottom: 1px solid #e8edf0; }

.post-listing__listing-item {
  width: 49%;
  float: left; }

.js__container-inner {
  padding: 100px 0; }

.hero--home {
  min-height: 400px; }

.oskar-signup {
  background-color: #142138; }

.site-menu__trigger-menu {
  color: #fff; }
  .site-menu__trigger-menu:after {
    content: none; }

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  h1.trigger-navigation {
    font-size: 2.2rem; } }

@media only screen and (max-width: 40em) {
  h1.trigger-navigation {
    font-size: 1.5em; }
  .site-menu {
    background: #142138; }
  .js__container-inner {
    padding: 20px 0; }
  .oskar__features {
    text-align: center;
    margin-bottom: 30px; }
  .button.medium {
    padding: 0.6rem 1.2rem;
    font-size: 0.8rem; } }
