#test {
  margin-top: 50px; }

h1.trigger-navigation {
  font-size: 3rem; }

.logo h3 {
  color: #fff;
  line-height: 1; }

.hero h3 {
  color: #fff;
  font-size: 1.2rem; }

.feature__icon {
  margin-bottom: 15px; }

.button.outline {
  margin-top: 0; }

.oskar-ship {
  position: relative;
  background-color: #f5f7f8;
  background: -webkit-gradient(linear, left top, left bottom, from(#e6ebed), to(#f5f7f8));
  background: -webkit-linear-gradient(top, #e6ebed 0%, #f5f7f8 100%);
  background: linear-gradient(to bottom, #e6ebed 0%, #f5f7f8 100%);
  border-bottom: 1px solid #e8edf0; }
