<div id="st-container" class="st-container st-hideatstart">
    <div class="hide-for-small">1

      <nav id="nav-mini" class="site-menu site-menu--desktop">
        <a class="left logo" href="/">
          <img src="/public/images/oskar-logo.png" width="200" alt="Hanno logo" scale="0">
        </a>
        <ul class="right inline-list">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/faq">FAQ</a>
          </li>
          <li>
            <a href="/signup">Signup</a>
          </li>
<!--           <li>
            <a href="/login">Login</a>
          </li> -->
        </ul>
      </nav>
    </div>
    <div class="show-for-small">
      <nav class="site-menu">
        <div class="row">
          <div class="columns">
            <a class="left logo" href="/">
              <img src="/public/images/oskar-logo.png" width="200" alt="Hanno logo" scale="0">
            </a>
            <a href="#" class="site-menu__trigger-menu js-trigger-menu">Menu</a>
          </div>
        </div>
      </nav>
      <nav class="site-menu--mobile">
        <div class="row">
          <div class="columns">
            <ul class="site-menu--mobile__options">
              <li>
                <a href="/work">
                  <h3>Work with Us</h3>
                  <p>See how we can help you</p>
                </a>
              </li>
              <li>
                <a href="/about">
                  <h3>About Us</h3>
                  <p>Meet your shipmates</p>
                </a>
              </li>
              <li>
                <a href="/contact">
                  <h3>Contact</h3>
                  <p>Let's talk about working together</p>
                </a>
              </li>
              <li>
                <a href="https://logbook.hanno.co">
                  <h3>Blog</h3>
                  <p>Our <em>Logbook</em>: join us in building a better web</p>
                </a>
              </li>
              <li>
                <a href="http://playbook.hanno.co">
                  <h3>Playbook</h3>
                  <p>Everything you need to know about how we work</p>
                </a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>