<!-- views/partials/header.ejs -->

<div id="st-container" class="st-container st-hideatstart">
  <div class="hide-for-small">
    <nav id="nav-mini" class="nav-main nav-main--desktop top-nav mini">
      <a class="left logo" href="/"><img src="https://logbook.hanno.co/wp-content/themes/logbook/assets/images/logo-logbook.svg" width="200" alt="Hanno logo" scale="0"></a>
      <ul class="right inline-list">
        <li><a href="http://hanno.co">Head to the main site →</a></li>
      </ul>
    </nav>
  </div>

  <div class="show-for-small">
    <nav class="nav-main">
      <div class="row">
        <div class="columns">
          <a class="left logo" href="/"><img src="https://logbook.hanno.co/wp-content/themes/logbook/assets/media/logos/hanno-title.svg" width="132" alt="Hanno logo" scale="0"> <small>→ The Logbook</small></a>
        </div>
      </div>
    </nav>
  </div>
</div>