<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Oscar - by Hanno</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://logbook.hanno.co/wp-content/themes/logbook/assets/styles/main.css" />
<link rel="stylesheet" href="/public/style.css" />