<!-- views/partials/header.ejs -->

<div id="st-container" class="st-container st-hideatstart">
    <nav id="nav-mini" class="nav-main nav-main--desktop top-nav mini">
      <a class="left logo" href="/"><img src="/public/images/oskar-logo.png" width="200" alt="Hanno logo" scale="0"></a>
      <ul class="right inline-list">
        <li><a href="/">Home</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/faq">FAQ</a></li>
      </ul>
    </nav>
</div>